coverage
django-debug-toolbar
django-stubs[compatible-mypy]
djangorestframework-types
drf-spectacular
flit
furo
hypothesis
mypy>=0.991
pytest
pytest-django
pytest-explicit
pyyaml
responses
sphinx
types-requests
