coverage
django-debug-toolbar
django-stubs[compatible-mypy]
djangorestframework-types
drf-spectacular
flit
hypothesis
mypy>=0.991
pytest
pytest-django
pytest-explicit
pyyaml
responses
sphinx
sphinx_rtd_theme
types-requests
